<div class="container">

<form *ngIf="!nuovoUtente">
  <div class="card">
    <h2>LOGIN</h2>
    <mat-form-field appearance="fill">
      <label>username</label>
      <input matInput [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>password</label>
      <input matInput [(ngModel)]="password">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <br>
    <span>
      <button mat-button color="primary" (click)="nuovoUtente=true">Crea un nuovo account</button>
    </span>
  </div>
</form>

<form *ngIf="nuovoUtente">
  <div class="card">
    <h2>REGISTRATI</h2>
    <mat-form-field appearance="fill">
      <label>username</label>
      <input matInput [(ngModel)]="sign_username">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>password</label>
      <input matInput placeholder="minimum 4 characters" matInput [(ngModel)]="sign_password">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>first name</label>
      <input matInput [(ngModel)]="sign_firstname">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>last name</label>
      <input matInput [(ngModel)]="sign_lastname">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>first name</label>
      <input matInput [(ngModel)]="sign_firstname">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>last name</label>
      <input matInput [(ngModel)]="sign_lastname">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>address</label>
      <input matInput [(ngModel)]="sign_address">
    </mat-form-field>
    <mat-radio-group>
      <label>Sei possessore del buono celiachia mensile?</label>
      <mat-radio-button value="true">si</mat-radio-button>
      <mat-radio-button value="false">no</mat-radio-button>
    </mat-radio-group>
    <button mat-raised-button color="primary" (click)="signin()">Sign in</button>
    <br>
    <span>
      Hai già un account? <button mat-button color="primary" (click)="nuovoUtente=false">accedi</button>
    </span>
  </div>
</form>

</div>
