.card-container{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.card{
  max-width: 400px;
  margin: 1%;
}

.card:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.nav-search{
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  margin: 2%;
}

.search{
  width: 90%;
  height: 30px;
  border: 0;
  border-radius: 15px;
  margin: 3px;
  background-color: rgb(213, 213, 213);
}

.shopping_cart_button{
  width: 50%;
  height: 50px;
  background-color: #fff;
  border: 0;
  border-radius: 15px;
  box-shadow: 3px 5px 6px #ccc;
  color: black;
}

.shopping_cart_button:hover{
  background-color:#2c5e90b8;
  color: white;
}


