.card-container{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.card{
  max-width: 400px;
  margin: 1%;
}

.card:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


