<div class="card-container">
  <div class="card" *ngFor="let p of prodotti">
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{p.nome}}</mat-card-title>
        <mat-card-subtitle>Prezzo: <span style="font-weight: bold;"> {{p.prezzo}} €</span></mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="p.img" alt="prduct image" style="max-height: 392px;">
      <mat-card-content>
        <br><br>
        <h3>{{p.descrizione}}</h3>
        <br><br>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button  (click)="addToFav()">Aggiungi ai preferiti<mat-icon>favorite</mat-icon></button>
        <button mat-raised-button  (click)="addToCart()">Aggiungi al carrello<mat-icon>shopping_cart</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


