<div class="container">
  <div *ngIf="ok_acquisto">
    <h2 style="color: rgb(9, 186, 83);">Acquisto andato a buon fine!</h2>
  </div>
  <div *ngIf="vuoto">
    <h2>Il tuo carrello è vuoto!</h2>
    <h3>per aggiungere prodotti al tuo carrello ritorna alla <a href="/">home page</a></h3>
  </div>
  <div *ngIf="!vuoto">
    <div class="card" *ngFor="let p of carrello.listaProdottiReal">
      <img [src]="p.img" alt="product image" style="max-width: 80px;">
      <h2>{{p.nome}}</h2>
      <div style="display: flex; flex-direction: column; margin: 5%; justify-content: flex-end; align-items: center;">
        <span style="font-size: 18px; font-weight: 400;">{{p.prezzo}}€</span>
        <div>
          <span>quantità: {{p.qta_acquistata}}</span>
          <input type="number" class="quantity_input" min="1" [max]="p.qta" [(ngModel)]="p.qta_acquistata">
          <button mat-raised-button color="accent" style="width: 30px;" (click)="stampa_quantita(p.codice)">aggiorna quantità</button>
        </div>
      </div>
      <button mat-icon-button (click)="rimuovi_dal_carrello(p)"><mat-icon>delete</mat-icon></button>
    </div>
    <br>
    <h2>Toale: {{carrello.totale.toFixed(2)}}€</h2> <!-- TODO align a destra -->
    <button mat-raised-button color="primary" (click)="procedi()">Procedi all'ordine</button>
    <br> <br>
    <button mat-raised-button (click)="svuota_carrello()">Svuota il carrello</button>

  </div>
  <div>
</div>
