<div class="container">
  <div>
    <ul>
      //TODO
      <li *ngFor="let p of carrello.lista_prodotti">
        <div>
          <img [src]="p.img" alt="product image">
          {{p.nome}}  quantità e prezzo singolo
        </div>
      </li>
    </ul>
    <h2>Toale: {{totale}} €</h2>

    <h2 style="color: red;">ricordati di chiedere al checkout se vuole usare il buono celiachia per il pagamento</h2>
  </div>

  <div>
    <button mat-button (click)="procedi()">Procedi all'ordine</button>
  </div>
</div>
