.container{
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  padding-top: 2%;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  border: solid 1px cadetblue;
  align-items: center;
  min-width: 400px;
}

mat-form-field{
  width: 95%;
}

.lista-acquisti-container{
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  gap: 1px 0px;
  justify-items: center;
  margin: 5%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  width: 100%;
}

.card-acquisto{
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
  gap: 1px 0px;
  width: 600px;
  border: solid 0.5px #c2bebe;
  justify-items: center;
  font-size: 19px;
  font-weight: 400;
}

.header-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
