<div class="container">

  <div *ngIf="loggato">
    <div class="card">
      <h2>  Ciao {{utente.nome}}! </h2>
      <button mat-button color="primary" (click)="showCarrello()"><mat-icon>shopping_cart</mat-icon>
         Visualizza carrello
      </button>
      <button mat-button color="primary" (click)="showAcquisti()"><mat-icon>list</mat-icon>Visualizza lista acquisti</button>
      <br>
      <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </div>
  </div>

   <form *ngIf="!nuovoUtente && !loggato">
    <div class="card">
      <h2>LOGIN</h2>
      <mat-form-field appearance="outline">
        <label>username</label>
        <input matInput [(ngModel)]="username" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <label>password</label>
        <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
      <br>
      <span>
        <button mat-button color="primary" (click)="nuovoUtente=true">Crea un nuovo account</button>
      </span>
    </div>
  </form>

  <form *ngIf="nuovoUtente && !loggato" >
    <div class="card">
      <h2>REGISTRATI</h2>
      <mat-form-field appearance="outline">
        <label>username</label>
        <input matInput [(ngModel)]="sign_username" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <label>password</label>
        <input matInput placeholder="minimum 4 characters" matInput [(ngModel)]="sign_password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <label>first name</label>
        <input matInput [(ngModel)]="sign_firstname" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <label>last name</label>
        <input matInput [(ngModel)]="sign_lastname" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <label>address</label>
        <input matInput [(ngModel)]="sign_address" placeholder="Es: Via Aldo Moro, 24 Torano Castello" required>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="signin()">Sign in</button>
      <br>
      <span>
        Hai già un account? <button mat-button color="primary" (click)="nuovoUtente=false">accedi</button>
      </span>
    </div>
  </form>

  <div *ngIf="dialog" class="lista-acquisti-container">
    <button mat-button (click)="dialog=false">
      <mat-icon>close</mat-icon>
    </button>
    <h2>Lista acquisti effettuati</h2>
    <div *ngFor="let acq of acquisti" class="card-acquisto">
      {{acq.id}}
      <span>Data acquisto: {{acq.dataAcquisto.substring(0,16)}}</span>
      <span>Totale pagato: {{acq.tot.toFixed(2)}}€</span>
      <a style="font-size: 12px;" [routerLink]="['/dettagli', acq.id]">Dettagli ordine</a>
    </div>
  </div>

  </div>




