.container{
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  padding-top: 2%;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card{
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  justify-items: center;
  border: solid 1px cadetblue;
}

mat-form-field{
  width: 95%;
}

