<div class="container">

  <div *ngIf="loggato">
    <div class="card">
      <h2>  Ciao {{utente.nome}}! </h2>
      <button mat-button color="primary" (click)="showCarrello()"><mat-icon>shopping_cart</mat-icon>
         Visualizza carrello
      </button>
      <button mat-button color="primary" (click)="showAcquisti()"><mat-icon>list</mat-icon>Visualizza lista acquisti</button>
      <br>
      <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </div>
  </div>

   <form *ngIf="!nuovoUtente && !loggato">
    <div class="card">
      <h2>LOGIN</h2>
      <!-- TODO -->
      <h3 *ngIf="!login_ok" style="color: rgb(223, 11, 11);">Il login non è andato a buon fine</h3>
      <!--  -->
      <mat-form-field appearance="outline">
        <mat-label>username</mat-label>
        <input matInput [(ngModel)]="username" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
      <br>
      <span>
        <button mat-button color="primary" (click)="nuovoUtente=true">Crea un nuovo account</button>
      </span>
    </div>
  </form>

  <form *ngIf="nuovoUtente && !loggato" >
    <div class="card">
      <h2>REGISTRATI</h2>

       <!-- TODO -->
       <h3 *ngIf="!signin_ok" style="color: rgb(223, 11, 11);">Il login non è andato a buon fine</h3>
       <!--  -->

      <mat-form-field appearance="outline">
        <mat-label>username</mat-label>
        <input matInput [(ngModel)]="sign_username" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>   <!-- [formControl]="password_control"-->
        <input matInput placeholder="minimum 4 characters"  required
            [(ngModel)]="sign_password"  [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <!-- <mat-error *ngIf="password_control.errors?.['minlength']">La password deve essere di almeno 4 caratteri</mat-error>
        <mat-error *ngIf="password_control.errors?.['required']">La password non può essere</mat-error> -->
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>first name</mat-label>
        <input matInput [(ngModel)]="sign_firstname" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>last name</mat-label>
        <input matInput [(ngModel)]="sign_lastname" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>address</mat-label>
        <input matInput [(ngModel)]="sign_address" placeholder="Es: Via Aldo Moro, 24 Torano Castello" required>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="signin()">Sign in</button>
      <br>
      <span>
        Hai già un account? <button mat-button color="primary" (click)="nuovoUtente=false">accedi</button>
      </span>
    </div>
  </form>

  <div *ngIf="dialog">
    <div class="header-card">
      <button mat-button (click)="dialog=false"><mat-icon>close</mat-icon></button>
      <h2>Lista acquisti effettuati</h2>
    </div>

    <div class="lista-acquisti-container">
        <mat-card *ngFor="let a of acquisti" class="card-acquisto">
          <mat-card-header>
            <mat-card-title>Acquisto {{a.id}}</mat-card-title>
            <mat-card-subtitle>Effettuato dall'utente {{a.acquirente.username}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h3>Data acquisto: {{a.dataAcquisto.substring(0, 16)}}</h3>
            <ul *ngFor="let prodotto of a.listaProdotti">
              <li> Prodotto con codice {{prodotto.codice}} - acquistati {{prodotto.qtaAcquistata}}</li>
            </ul>
            <h3 style="font-size: 20px; font-weight: 500;">Totale pagato: {{a.tot.toFixed(2)}}€</h3>
          </mat-card-content>
        </mat-card>
    </div>

  </div>

  </div>




