.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a537c;
  color: white;
  padding-right: 1%;
}

.toolbar img {
  margin: 0 16px;
}

.nav-area-personale{
  display: inline-block;
  margin: 3%;
  padding: 3%;
}

a{
  color: aliceblue;
}

.logout-button{
  margin: 2%;
}

.content {
  display: flex;
  margin: 90px auto 30px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

