<!-- Toolbar -->
<div class="toolbar">
  <a href="#">
    <img width="80px" alt="Logo" src="https://www.lineadiciotto.it/img/cms/Schermata%202019-02-17%20alle%2018-21-35.png">
  </a>
  <div style="margin: 2%;">
    <span style="font-size: medium; font-style:oblique ;">Welcome - Gluten Free Shop</span>
  </div>

  <div class="nav-area-personale">
    <a href="/login">AREA PERSONALE</a>
  </div>
  <div style="padding: 10px;">
    <a href="/carrello">
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </div>

  <button mat-button color="accent" (click)="logout()" *ngIf="loggato" class="logout-button">Logout</button>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>




