<div class="container">
  <p>SIGN IN</p>
  <div class="card">
    <!-- <div>
      <label>username </label>
      <input type="text"><br>
    </div>
    <div>
       <label>password </label>
      <input type="text"><br>
    </div> -->
    <mat-form-field appearance="fill">
      <label>username</label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <label>password</label>
      <input matInput>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary">Sign in</button>

</div>
