.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10%;
  min-width: 600px;
  justify-content: center;
  align-items: center;
}

.card{
  width: 80%;
  display: flex;
  border: solid 1px rgb(205, 229, 250);
  margin: 10px;
  padding: 2%;
}


.card-prodotto-reale{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
